# Fichiers objets générés lors de la compilation
*.o

# Fichier exécutable généré
/bin/

# Fichiers générés par l'outil de documentation Doxygen
#/doc/

# Dossiers de dépendances générées par certains IDE
/.deps/
/.vscode/
/.idea/

# Fichiers de configuration spécifiques à l'environnement
config.ini

# Fichiers de sauvegarde générés automatiquement
*.bak

# Dossiers de sortie de compilation
/out/
/build/

# Fichiers de cache
.cache/

# Fichiers spécifiques à votre environnement de développement
/.env
bin/project.out
*.o
